@{
  Layout = "_Layout";
}

<div class="container my-4">
    <div class="h-100 d-flex flex-column align-items-center"></div>  
    <h1 class="text-center my-4">Welcome To Sweets</h1>
    <div class="d-flex flex-column align-items-center my-4">
    <div class="d-flex flex-column justify-content-center my-4">
      <p class="btn btn-outline-warning btn-rounded">@Html.ActionLink("See all treats", "Index", "Treats")</p>
      <p class="btn btn-outline-warning btn-rounded">@Html.ActionLink("Add a Treat", "Create", "Treats")</p>
      <p class="btn btn-outline-warning btn-rounded">@Html.ActionLink("Create an account", "Index", "Account")</p>
     
     </div> 
     </div>
</div>  