@{
  Layout = "_Layout";
}

@model Sweets.Models.Flavor

<h2>Add a treat to the "@Html.DisplayFor(model => model.Treat.Name)" flavor</h2>
<hr />
@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.FlavorId)
  @Html.DropDownList("TreatId")
<br>
<br>
  <input type="submit" value="Save" class="btn"/>
}
<hr />
<br>
<h5>@Html.ActionLink("Back to flavors", "Index")</h5>