@{
  Layout = "_Layout";
}

@using Sweets.ViewModels

@model LoginViewModel

<h2>Log in</h2>
<hr />
@using (Html.BeginForm())
{
    <h5>Email:
    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder="Required", required="required", style="width: 300px;"})</h5>

    <h5>Password:
    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder="Required", required="required", style="width: 200px;"})</h5>

    <input type="submit" value="Log in" class="btn btn-default" />
} 