@{
  Layout = "_Layout";
}

@model Sweets.Models.Treat

<h3>Add a flavor to @Html.DisplayFor(model => model.Name)</h3>
<hr />

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.TreatId)

  <h5>Add flavor:
  @Html.DropDownList("FlavorId")</h5>
  <input type="submit" value="Save" class="btn" />
}
<hr />
<br>
<h5><a href='/Flavors/Create'>Create new flavor</a></h5>
<br>
<h5>@Html.ActionLink("Back to list of treats", "Index")</h5>