@{
  Layout = "_Layout";
}

@using Sweets.Models;
@model IEnumerable<Sweets.Models.Treat>

<div class="container my-4">  

<h1 class="text-center my-4">Treats For @User.Identity.Name</h1>
<hr />
<div class="d-flex flex-column align-items-center my-4">
@if (Model.Any())
{
  <ul>
    @foreach (Treat treat in Model)
    {
      <li>@Html.ActionLink($"{treat.Name}", "Details", new { id = treat.TreatId })</li>
    }
  </ul>
} 
else
{
  <h3>No treats match this search!</h3>
}

<p class="btn btn-outline-warning btn-rounded">@Html.ActionLink("Home", "Index", "Home", "Treats")</p>
<p class="btn btn-outline-warning btn-rounded">@Html.ActionLink("Add a Treat", "Create", "Treats")</p>
</div>
</div>